.control-label { color: #474747; font-weight: 700; font-size: 12px; text-transform: uppercase; }
.form-control { width: 100%; height: 50px; padding: 6px 12px; 
    font-size: 16px; line-height: 1.42857143; color: #333; background-color: #fff; border: 1px solid #dcd9d3; 
    background-image: none; border-radius: 10px; -webkit-box-shadow: inset 0 0px 0px rgba(255, 255, 255, .075); 
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .075); margin-bottom: 15px; }
.form-control:focus { border-color: #bab6ae;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .075), 0 0 8px rgba(255, 255, 255, .6);
    box-shadow: inset 0 3px 3px rgba(255, 255, 255, .075), 0 0 8px rgba(235, 237, 238, .6);
    background-color: #fffefd; }
    .text-center{
        text-align: center;
    }